@model IEnumerable<Lancall.Models.Customer>
@{
    ViewBag.Title = "Customer Database";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (!Model.Any())
{
    <p>No customers to show</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thread>
            <th>Customer</th>
        </thread>
        <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Details", "Customer", new { id = customer.Id }, null)</td>
            </tr>
        }
        </tbody>
    </table>
}

