<!--This page needs fixing. Either add the viewmodel customer class (by rewatching that lecture
    or figure out waht da hell tables r and what enumerables are)-->
{
  
}
@{
    ViewBag.Title = "Customer Database";
}

@if (Model.Customer.Count == 0)
{
    <p>No customers to show</p>
}
else
{
     foreach (var customer in Model.Customer)
     {
         <h2>Model.Customer.Name</h2>
     }
}

